@import "styles/variables";

.auth-form {
  display: flex;
  flex-direction: column;

  &__container {
    max-width: 360px;
    width: 100%;
    margin: 10px auto 10px 5%;
  }

  &__password-group {
    display: flex;
    flex-direction: column;
  }

  .btn {
    font-size: 16px;
  }

  &__error {
    font-size: 11px;
    color: $red;
  }

  &__input-wrap {

    &_double {
      margin-bottom: 20px; 

      .btn {
        width: auto;
      }
    }
  }
}