
// Basic colors
$black: #151515;
$white: #fff;
$cyan: #4ec2d1;
$green: #b0e878;
$yellow: #fefad2;
$red: #f44336;

// Objective colors
$gray-bg: #f8f8f8;
$gray-icon: #e0e0e0;
$gray-text: #c1c1c1;

$transparent-gray: rgba(21,21,21, 0.08);
$transparent-cyan: rgba(78,194,209, 0.5);
$transparent-yellow: rgba(248,231,28,0.2);

// Measurements, sizes.
$btn-border-radius: 50px;

$font-sm: 11px;
