@import "styles/variables";
@import "styles/buttons";
@import "styles/inputs";

.post-page {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .post {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__thumbnail {
    width: 100%;
    margin-bottom: 40px;
    img {
      display: block;
      width: 100%;
    }
  }

  &__meta {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__author {
    color: $gray-text;
  }

  &__categories {
    mat-chip {
      color: $white !important;
    }
  }

  &__title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__comments {
    width: 80%;
    margin: 0 auto;
  }

  .login-link {
    color: $cyan;
  }

}

.reply-form {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;

  .comment-list__item-info {
    justify-content: center;

    .btn {
      margin-top: 20px;
    }
  }
}

.comment-form {
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;

  .comment-list__item-info {
    justify-content: center;

    .btn {
      margin-top: 20px;
    }
  }
}

.comment-list {
  &__item {
    padding: 20px 0 0 0;
    border-top: 1px solid $gray-text;
    display: flex;
    flex-wrap: wrap;

    &-author {
      width: 20%;
      font-weight: 600;
    }

    &-date {
      width: 20%;
      display: flex;
      justify-content: flex-end;
      color: $gray-text;
    }

    &-info {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-body {
      width: 80%;
    }

    &-replies {
      width: 100%;
    }

    .reply-btn {
      color: $cyan;
      display: inline-block;
      margin-top: 20px;
    }
  }

  .replies {
    width: 100%;
    margin-top: 20px;
    &-item {
      padding: 20px 0;
      display: flex;
      width: 100%;
    }
  }
}