<div class="mat-dialog-header">
  <h2 mat-dialog-title>Change password</h2>
  <mat-icon (click)="close()" svgIcon="close"></mat-icon>
</div>
<mat-dialog-content>
  <form class="form" [formGroup]="passwordForm" novalidate>
    <mat-form-field>
      <input matInput type="password" placeholder="Old password*" formControlName="old_password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New password*" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New password confirmation*" formControlName="confirm_password">
      <mat-error *ngIf="confirmControl.invalid && confirmControl.touched">Passwords do not match</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button cdkFocusInitial [disabled]="passwordForm.invalid || submitted" (click)="save()">Save</button>
</mat-dialog-actions>