<div class="dialog" #dialog>
  <div class="dialog__header"
      [translate]="'Auth.Forgot your password?'">
  </div>
  <div class="dialog__close" (click)="close()">
    <mat-icon svgIcon="close"></mat-icon>
  </div>
  <div class="dialog__content">
    <form [formGroup]="emailForm" class="dialog__form">  
      
      <mat-form-field class="dialog__input">
        <input matInput 
          placeholder="{{ 'Auth.Your Email' | translate }}"
          type="email"
          formControlName="email">
      </mat-form-field>
  
    
      <button role="submit" 
          [disabled]="!emailForm.valid"
          class="btn btn-filled green" 
          (click)="requestPasswordResset()"
          [translate]="'Auth.Reestablish'">
      </button>
      
    </form>
  </div>
</div>