@import "styles/variables";

.dialog {
  position: relative;
  padding: 80px 40px 10px 40px;
  
  &__header {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -25px;
    padding: 24px;
    background: $cyan;
    color: $white;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 80px;
  }

  &__close {
    cursor: pointer;
    outline: none;
    position: absolute;
    right: -16px;
    top: -16px;

    mat-icon {
      color: $white;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form {
    text-align: center;
  }

  &__input {
    width: 400px;
    margin-bottom: 20px;
  }
}